
body{
    font-weight: bolder;
    font-family: system-ui;
}

h1 {
    color: yellow;
    background-color: navy;
}

h2 {
    color: antiquewhite;
    background-color: navy;
}

h6 {
    color: green;
}